<div id="httpExample" class="exampleView">
    <div ng-switch on="httpexample.loadingCars">
        <h2 ng-switch-when="true">
           Loading Cars...
        </h2>
        <div ng-switch-default>
            <div layout="row">
                <example-card id="car-http-example" title="$resource example (api ordered)">
                    <car-blurb car="car" ng-repeat="car in httpexample.ngresourcecars"></car-blurb>
                </example-card>
            </div>
            <div layout="row">
                <example-card id="car-http-example" title="$http example (order by make)">
                    <car-blurb car="car" ng-repeat="car in httpexample.httpcars | orderBy:'make':false""></car-blurb>
                </example-card>
            </div>
        </div>
    </div>
</div>