<div id="exampleView" class="exampleView">
    <div layout="row">
        <example-card title="Data Binding Example">
            <md-input-container>
                <label>Name</label>
                <input type="text" ng-model="basic.name"/>
            </md-input-container>
            <code>Hello {{basic.name | capitalize}}!</code>
        </example-card>

        <example-card title="$Watch+Directive Example">
            <rainbow-date date="basic.clock.now"></rainbow-date>
            <code>
                Current Time: {{basic.clock.now}}
            </code>
        </example-card>
        <example-card title="$Parse Example">
            <select ng-model="basic.expression.selected"
                    ng-options="option.name for option in basic.expression.options track by option.id">
            </select>
            <small>{{<span>{{basic.expression.selected.value}}</span>}}</small>
            <code>
                Parsed Expression: {{basic.parsedExpression}}
            </code>
        </example-card>
    </div>
    <div layout="row">
        <example-card title="$Interpolate Example">
            <div>
                <input type="email" ng-model="basic.email.to"/>
            </div>
            <div>
                <textarea ng-model="basic.email.body" style="width:200px;height:75px;"></textarea>
            </div>
            <label>Preview:</label>
            <code>{{basic.email.previewText}}</code>
        </example-card>
        <example-card title="Priority + Terminal + Transclude Example">
            <div make-red>I am red (priority: 100, terminal)</div>
            <div make-green>I am green (priority: 99, terminal)</div>
            <div make-red make-green>I am the highest priority, because we are terminal</div>
            <hr />
            <transclude-blue>Element Transclude</transclude-blue>
            <div transclude-blue>Attribute Transclude</div>
        </example-card>
        <example-card title="ng-click + ng-class + ng-switch + $timeout">
            <contest-example></contest-example>
        </example-card>
    </div>
    <div layout="row" ng-controller="ScopeExampleController">
        <example-card title="scope:true Directive">
            <true-scope></true-scope>
        </example-card>
        <example-card title="No-scope-property Directive">
            <no-scope></no-scope>
        </example-card>
        <example-card title="scope:{} Directive">
            <isolate-scope></isolate-scope>
        </example-card>
    </div>
</div>