<div id="builtindirectives" class="exampleView">
    <h1>{{builtin.title}}</h1>
    <div class="exampleContainer" id="ngShowExample">
        <h2>ng-show</h2>
        <div class="exampleContent">
            <table>
                <tr>
                    <th>This</th>
                    <th>Swap</th>
                    <th>That</th>
                </tr>
                <tr>
                    <td><div id="showThis" ng-show="builtin.thisThat" >THIS!</div></td>
                    <td><button id="showSwapper" ng-click="builtin.thisThat=!builtin.thisThat">{{builtin.thisThat ? 'THAT >>' : '<< THIS'}}</button></td>
                    <td><div id="showThat" ng-show="!builtin.thisThat" >THAT!</div></td>
                </tr>
            </table>
            <div ng-switch on="builtin.thisThat">
                <label>ng-switch</label>
                <h4 ng-switch-when="true">THIS IS THIS</h4>
                <h4 ng-switch-when="false">THAT IS THAT</h4>
            </div>
        </div>
        <br style="clear:both"/>
    </div>
</div>