body{
    margin:0;
    font-family:Arial, Verdana, Times;
}

#appContainer{
    margin:0;
}

#appHeader{
    position:relative;
    padding:5px;
    background:#323232;
    color:#fff;
    border-bottom:2px solid #cccccc;
}

#nav{
    position:absolute;
    right:5px;
    bottom:5px;
}

#nav a{
    color:#ffffff;
    font-size: 1.25em;
}

#nav a:visited{
    color:#ffffff;
    text-decoration:none;
}

#appContainer>h1{
    float:left;
}

#appContainer>#mainView{
    clear:both;
    margin:10px;
}

.exampleContent{
    padding-left:20px;
    padding-right:20px;
}

.exampleContent h4{
    background-color:#ccc;
    padding:15px;
}

.exampleContainer label{
    margin-top:10px;
    margin-bottom:5px;
    font-weight:bold;
    font-size:1.25em;
}

.exampleContainer pre{
    font-family:monospace;
    background:#ccc;
    border:1px solid #323232;
    margin-left:5px;
    margin-right:5px;
    margin-top:0px;
    padding:10px;
}