<div id="exampleView">
    <div class="exampleContainer">
        <h2>Data Binding Example</h2>
        <div class="exampleContent">
            Name:<input type="text" ng-model="name" />
            <h4>Hello {{name | capitalize}}!</h4>
        </div>
    </div>

    <div class="exampleContainer">
        <h2>$Watch Example</h2>
        <div class="exampleContent">
            <h4>{{clock.now}}</h4>
        </div>
    </div>

    <div class="exampleContainer">
        <h2>$Parse Example</h2>
        <div class="exampleContent">
            <select ng-model="expression.selected" ng-options="option.name for option in expression.options track by option.id">
            </select>
            <h4>Parsed Expression: {{parsedExpression}}</h4>
        </div>
    </div>

    <div class="exampleContainer">
        <h2>$Interpolate Example</h2>
        <div class="exampleContent">
            <div>
                <input type="email" ng-model="email.to" />
            </div>
            <div>
                <textarea ng-model="email.body" style="width:200px;height:75px;" ></textarea>
            </div>
            <label>Preview:</label>
            <pre>{{email.previewText}}</pre>
        </div>
    </div>
</div>