<html ng-app="helloApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="scripts/app.js"></script>
    </head>
    <body>
        <div ng-controller="HelloController">
            <h1>Data Binding Example</h1>
            Name:<input type="text" ng-model="name" />
            <h3>Hello {{name}}</h3>

            <h1>$Watch Example</h1>
            <p>
                {{clock.now}}
            </p>

            <h1>$Parse Example</h1>
            <select ng-model="expression.selected" ng-options="option.name for option in expression.options track by option.id">
            </select>
            <h3>Parsed Expression: {{parsedExpression}}</h3>

            <h1>$Interpolate Example</h1>
            <div>
                <input type="email" ng-model="email.to" />
            </div>
            <div>
                <textarea ng-model="email.body" style="width:400px;height:150px;" ></textarea>
            </div>
            <h4>Preview:</h4>
            <pre>
                {{email.previewText}}
            </pre>
        </div>
    </body>
</html>