<html ng-app="helloApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="scripts/app.js"></script>
    </head>
    <body>
        <div ng-controller="HelloController">
            <h1>Hello {{name}}</h1>
            <input type="text" ng-model="name" />
            <p>
                {{clock.now}}
            </p>

            <select ng-model="expression" >
                <option value="name" />
                <option value="clock.now" />
            </select>
            <h1>Parsed Expression: {{parsedExpression}}</h1>
        </div>
    </body>
</html>